.milestonesContainer {
	display: none;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin-right: 4rem;
	margin-left: 4rem;
	height: 25dvh;
}

.cardWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
}

.cardContainer {
	margin-left: 2rem;
	margin-right: 2rem;
	height: 18rem;
	min-width: 16rem;
	border-radius: 1rem;
}

.card {
	height: 14rem;
	max-height: 14rem;
	width: 12rem;
	max-width: 12rem;
	border-radius: 1rem;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
	.milestonesContainer {
		display: flex;
	}
}

@media (min-width: 1536px) {
	.card {
		height: 16.75rem;
		max-height: 16.75rem;
		width: 14.75rem;
		max-width: 14.75rem;
		border-radius: 1rem;
	}
}
