.Navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.Navbar-1 {
    background: #424242c6;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar-1 p {
    margin: 0;
}

.Navbar-1 .Left {
    height: 100%;
    display: flex;
    align-items: center;
}

.Navbar-1 .Left img {
    height: 60%;
    padding-left: 2.5vw;
}

.Navbar-1 .Right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2.5vw;
}

.Navbar-1 .Right button {
    color: white;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.80);
    background: rgba(255, 255, 255, 0.10);
    height: 5vh;
    width: 9vw;
}

.Navbar-1 .Right p {
    color: white;
    padding-right: 1.75vw;
}

.Navbar hr {
    margin: 0;
    height: 1px;
    border: none;
    background: linear-gradient(269deg, #FFFFFF00, #a1a1a1, #FFFFFF00);
}